# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
.history/

# Coverage
coverage/
.nyc_output/

# Build output
dist/
build/
tmp/
temp/

# Misc
*.tgz
.idea/
*.sublime-workspace
*.sublime-project